export TARGET_URL="https://soccer.yahoo.co.jp/jleague/league/j1"
export TARGET_DOMAIN="https://soccer.yahoo.co.jp/"
export DB_INFO="hhvuafdv51p2lm3d:zpzmno3c34ywxu76@tcp(pfw0ltdr46khxib3.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306)/l1crt4uh0916tivw?"
